<header>
    <div class="container">
        <div class="flex space-between">
            <a href="#" class=navbar-brand>
                <img src="assets/app/images/logo.svg">
            </a>
            <span class="toggle-btn">
                <p>menu</p>
                <span></span>
            </span>
        </div>
    </div>
</header>
<div class="site-navigation">
    <div class="inner-wrapper">
        <div class="inner-header flex space-between items-align-center">
            <a href="#">
                <img src="assets/app/images/logo-nav.png">
            </a>
            <span class="btn-close">
                <p>Close</p>
                <img src="assets/app/images/close-icon.svg">
            </span>
        </div>
        <div class="navigation-box">
            <ul>
                <li><a href="#">Login / Sign Up</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Buy & Sell</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <div class="newsletter-form">
                <h6>Subscribe to our newletter</h6>
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="btn-box">
                        <button type="button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="navigation-bar">
            <div class="colmn-box">
                <ul>
                    <li><a href="#"><img src="assets/app/images/grid-white.png">See All Bids</a></li>
                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Search MLS</a></li>
                </ul>
            </div>
            <div class="colmn-box">
                <a target="_blank"
                    href="https://www.google.com/maps/place/Livingston+St,+Brooklyn,+NY,+USA/@40.6899265,-73.9886645,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25a4c5b43e147:0x456325d43d4697ff!8m2!3d40.6899225!4d-73.9864758">
                    756 Livingston Street,<br> Brooklyn, NY 11201 </a>
            </div>
            <div class="colmn-box">
                <ul>
                    <li><a href="mailto:work@examplecom">work@examplecom</a></li>
                    <li><a href="tel:+1 (00) 123-45-67">+1 (00) 123-45-67 </a></li>
                </ul>
            </div>
            <div class="colmn-box social-nav">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>