<footer>
    <div class="primary-footer">
        <div class="container-sm">
            <div class="flex space-between items-align-center">
                <div class="newsletter-form">
                    <h6>Subscribe to our newletter</h6>
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="btn-box">
                            <button type="button">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="colmn-box">
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Livingston+St,+Brooklyn,+NY,+USA/@40.6899265,-73.9886645,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25a4c5b43e147:0x456325d43d4697ff!8m2!3d40.6899225!4d-73.9864758">
                        756 Livingston Street,<br> Brooklyn, NY 11201 </a>
                </div>
                <div class="colmn-box">
                    <ul>
                        <li><a href="mailto:work@examplecom">work@examplecom</a></li>
                        <li><a href="tel:+1 (00) 123-45-67">+1 (00) 123-45-67 </a></li>
                    </ul>
                </div>
                <div class="colmn-box social-nav">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="secondary-footer">
        <div class="container">
            <div class="about-box text-center">
                <img src="assets/app/images/home-icon.svg">
                <p>Motto Mortgage Advisors<br>NMLS#1744233<br>Each Office is Independently Owned, Operated and
                    Licensed.</p>
                <ul>
                    <li><a href="tel:727-202-5626">727-202-5626 150</a></li>
                    <li><a href="#">2nd Avenue North Suite #100<br> St Petersburg, Florida 33701</a></li>
                    <li>&copy; 2019 HomeBid+</li>
                </ul>
            </div>
            <div class="flex items-align-center space-between footer-nav">
                <a href="#">
                    <img src="assets/app/images/logo.svg">
                </a>
                <ul>
                    <li><a href="#">Fair Housing & Equal Opportunity</a></li>
                    <li><a href="#">Terms & Conditions</a> </li>
                    <li><a href="#">Terms of Use</a> </li>
                    <li><a href="#">Digital Millennium Copyright Act</a> </li>
                </ul>
                <a href="#">
                    <img src="assets/app/images/remax.png">
                </a>
            </div>
        </div>
    </div>
</footer>